
<html>
  <head>
<style>
  <link rel="stylesheet" href="page.css.scss">
  
</style>
</head>


<body >


<h1>This is my home page</h1>


<p>
  Welcome to my home page.  This is the frontend and will be changed as time requires.
</p>
<footer class="site-footer"><%= link_to 'About', about_path %></footer>
</body>

</html>