html {
      position: relative;
      min-height: 100%;
    
}


body { background: image-url("background2.jpg"); 
  background-color: gray;
  background-size:cover;
  margin-left: 20;
  margin-right: 20 ;
  margin-bottom: 100px; 
}

        
h1   {color: White;
      text-align: center;
      text-shadow:
		    -1px -1px 0 #000,
	    	1px -1px 0 #000,
		    -1px 1px 0 #000,
		    1px 1px 0 #000;
}
p    {color: white;
      font-size: 20px;
      text-shadow:
		    -1px -1px 0 #000,
	    	1px -1px 0 #000,
		    -1px 1px 0 #000,
		    1px 1px 0 #000;
		    
}

footer {
        height: 100px;
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        
        font-size: 30px;
        text-align: center;
        text-shadow:
		    -1px -1px 0 #000,
	    	1px -1px 0 #000,
		    -1px 1px 0 #000,
		    1px 1px 0 #000;
}
footer:hover {
        color: yellow;
}
/* visited link */
footer:visited {
    color: yellow;
}